@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #F3F4F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}